
main {
   background: rgb(136, 136, 211);
}
 
/* product page styling */
 
 div.card-body {
    background-color: brown;
 }


 #products{
    background-color: crimson;
 }

 #product-card {
   margin-bottom: 80px;
 }

 #contain-bg{
   background-color: #23a6d5;
   backface-visibility: hidden;
 }

 #Header-p{
   font-family:fantasy;
   font-size: 60px;
 }
 /* signin in page styling */
 
 #sign-in {
    margin-inline-end: 100px;
    margin-top: 20px;
 }

 #sign-contain{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; }
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        } }