/*.px-wide > .image-carousel > .img {
    width:640px;
    height:360px;
  }

  
  .container-sm {
    display: flex;  
    flex: auto

  }
  
  

*/
 
 div.card-body {
    background-color: brown;
 }

 main {
    background: rgb(136, 136, 211);
 }
 #products{
    background-color: crimson;
 }
 
 #sign-in{
    margin-inline-end: 100px;
    margin-top: 20px;
 }

 #sign-contain{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; }
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        } }